<!DOCTYPE html>
<html lang="{{ local }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="{{ 'template.asset' | hook('app-img/icon.png') }}" rel="icon" sizes="32x32">
    <!-- Style -->
    <link href="{{ 'template.asset' | hook('app-css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>{{welcome}}</h1>
        <p>Your lightweight MVC PHP framework for fast and clean development.</p>
        <a class="docs-link" href="{{ app.documentation }}">Read the Docs</a>
        <div class="version">Framework version: {{ app.version }}</div>
        <div class="copyright">&copy; : {{ '' | date('Y') }}</div>
    </div>
</body>
</html>